<h1>Crear un nuevo taller</h1>

<form class="" action="/create" method="post">

    <fieldset>
        <label for="name">Nombre: </label> </br>
        <input type="text" name="name" id="name">
    </fieldset>

    <fieldset>
        <label for="description">Descripcion: </label> </br>
        <textarea name="description" rows="3" cols="50" id="description"></textarea>
    </fieldset>

    <fieldset>
        <input type="submit">
    </fieldset>

</form>