<%# Esto es un embebed ruby %>
<h1>Talleres del ciclo escolar 2023</h1>

<%# Embebed ruby tag regular: %>
<% if @valor == 2 %>

    <%# Embebed ruby tag de salida (se debe agregar el simbolo: =) %>
    <p>El valor es: <%= @valor %></p>
<% end %>