<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8" />
        <title>Tallers del ciclo escolar</title>
    </head>

    <body>
        <%# Se reemplaza el contenido de body, por uno embebido pasado por parametro %>
        <%= yield %>
    </body>

</html>